# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Node
node_modules/
dist/
.DS_Store
coverage/
.npm/

# IDE
.vscode/
.idea/
